.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6rem;
  }
  
  .contact-container h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .contact-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  
  .contact-container .form-group {
    margin-bottom: 1.5rem;
  }
  
  .contact-container label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .contact-container input,
  .contact-container textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .contact-container button[type='submit'] {
    background-color: greenyellow;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  