.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  position: fixed; 
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  left: 0;
  height: 0px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.container {
  display: flex;
  justify-content: center;
}

.footer__links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer__links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

.footer__links a:hover {
  color: #ffcc00;
}

.page-container {
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px; 
}




  