.projets__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
  }
  
  .projets__searchbar {
    margin-top: 2rem;
  }
  
  .projets__searchbar form {
    display: flex;
    align-items: center;
  }
  
  .projets__searchbar input[type="text"] {
    padding: 0.5rem;
  }
  
  .projets__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .projets__item {
    margin: 0 1rem 2rem;
    width: 300px;
  }
  
  .projets__item h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .projets__item p {
    margin-bottom: 0.5rem;
  }
  
  .projets__item a {
    color: #000;
    text-decoration: underline;
  }
  
  .projets__item a:hover {
    text-decoration: none;
  }
  
  .projets__item:nth-child(1) {
    background-image: url('../assets/images/MaxFit.png');
    background-size: contain; /* Réduit la taille de l'image en conservant les proportions */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image dans le conteneur */
  }
  
  .projets__item:nth-child(2) {
    background-image: url('../assets/images/e-commerce-1182903_640.png');
    background-size: cover;
  }
  
  .projets__item:nth-child(3) {
    background-image: url('../assets/images/download.jpeg');
    background-size: cover;
  }
  
  


